.table-info {
  width: 100%;
  margin-top: 24px;
  padding-bottom: 20px;
  overflow-x: auto;
}

table {
  width: 80%;
  margin: auto;
}

table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
}

th {
  color: #fff;
  background-color: gray;
}
